@import "../../../styles/variables.scss";
button {
  &.themeBtn {
    background: $theme-color;
    color: $white-color;
    &:before {
      border-color: $theme-color;
    }
  }
}
// contact
.contact {
  margin: 0;
  &::before {
    content: "";
  }
}
.contactBlock {
  border-radius: 10px;
  overflow: hidden;
  background: $secondary-color;
  display: flex;
  position: relative;
  z-index: 1;
  .left {
    background: $theme-color;
    padding: 22px 30px;
    width: 380px;
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    .title {
      font-size: 40px;
      color: $white-color;
      font-weight: 700;
      line-height: 44px;
      margin-bottom: 15px;
      width: 100%;
    }
    .desc {
      color: $white-color;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 30px;
      font-size: 18px;
    }
  }
  .contactBg {
    position: relative;
    width: calc(100% - 380px);
    &:before {
      content: "";
      background-image: url($bg-base-path + "/footer-shine.svg");
      width: 100%;
      height: 100%;
      background-size: cover;
      position: absolute;
      background-position: left;
    }
    .right {
      width: 70%;
      margin: 0 auto;
      vertical-align: middle;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .form-control {
        display: block;
        width: 100%;
        padding: 6px 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #f2f6f8;
        background-clip: padding-box;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: $border-radius;
        height: 50px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .inputGroup {
        position: relative;
        display: flex;
        width: 100%;
        .emailInput {
          width: calc(100% - 220px);
          position: relative;
        }
        .formControl {
          background: #f2f6f8;
          font-size: 16px;
          padding: 6px 15px;
          height: 50px;
          border: none;
          &:focus {
            outline: none;
          }
        }
        > button {
          margin-left: 20px !important;
          width: 200px;
          height: 50px;
          &::before {
            content: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .contactBlock {
    .contactBg {
      .right {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .contactBlock {
    .contactBg {
      .right {
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .contact {
    .contactBlock {
      .left {
        width: 300px;
        padding: 28px 30px;
        .title {
          font-size: 24px;
          margin-bottom: 5px;
        }
        .desc {
          line-height: 24px;
          font-size: 16px;
        }
      }
      .contactBg {
        width: calc(100% - 300px);
        .right {
          height: 160px;
          .inputGroup {
            .emailInput {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .contactBlock {
    .contactBg {
      .right {
        .inputGroup {
          flex-wrap: wrap;
          justify-content: center;
          button {
            margin-left: 0 !important;
            width: auto;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .contact {
    .contactBlock {
      display: block;
      .left {
        .desc {
          font-size: 14px;
        }
      }
      .left,
      .contactBg {
        width: 100%;
        padding: 15px;
        text-align: center;
        justify-content: center;
      }
      .contactBg {
        .right {
          width: 100%;
          height: auto;
          .form-control {
            height: 40px;
            font-size: 14px;
          }
          .inputGroup {
            flex-wrap: wrap;
            justify-content: center;
            button {
              margin-left: 0 !important;
              margin-top: 10px;
              padding: 8px 10px;
              width: 150px;
              height: auto;
            }
            .formControl {
              height: 40px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
