$body-color: #F4F8FD;
$theme-color: #12245A;
$secondary-color:#FBD501;
$font-family: 'Roboto';
$border-radius: 50px;
$white-color: #fff;
$black-color: #000;
$theme-custom-color: #151515;
$desc-font: #5F6368;
$bg-base-path: ''
